@import "compass/css3/border-radius";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";
/* COLOUR setup yellow/brown-black/cream */

$accent-colour: #fde700; 
$head-colour: #211a14; 
$main-colour: #f4f1ec; 

$colour-shadows: rgba(14, 32, 59, .5);


/* FILE PATH VARIABLES */
$images-path: "../images/"; /* SITE spec */
$font-path: "../../templates/stylesheets/";

/* other */
$pad: 30px;

/* fonts */

@font-face{ 
            font-family: "BAUHS93";
            src: url('http://fontsforweb.com/public/fonts/2802/BAUHS93.eot');
            src: local("Bauhaus 93"), url('http://fontsforweb.com/public/fonts/2802/BAUHS93.woff') format("woff"), url('http://fontsforweb.com/public/fonts/2802/BAUHS93.ttf') format("truetype");
        }

/* COMMON STYLES */


body {
	background: $main-colour !important;
	border-top: 2px solid $head-colour;
}

header {
	background: $head-colour url('#{$images-path}header-bkg-texture.png') repeat-x top center;
	margin-bottom: 30px;
	border-top: 1px solid #000;
		#logo {
			margin-bottom: 15px;
		}
		img {
			margin-top: 15px;

		}
		img#turbo {
				margin-top: 55px;
				margin-bottom: -55px;
		}

		h2 {
		text-align: right;
		color: $main-colour;
		line-height: 1em;
		margin-bottom: 0em;
		margin-top: 0em;
		span {
			color: $accent-colour;
		}
	}
	#sub-nav {
		.inline-list {
			background: $accent-colour;
			margin: 5px 0 0 0;
			padding: 0 0 0 0;
			border-top: 10px solid $head-colour;
			line-height: 1.2em;
			li {
				background: $accent-colour;
				padding: 2px 4px;
				margin-left: 0px;
				text-align: right;
				width: 9.3em;	
				border-right: 10px solid $head-colour;
				a {
					color: $head-colour;
				}
			}
			li.last {
				border-right: 15px solid $head-colour;
			}
		}
	}
}
#yellow-block {
	height: 15px;
	background: $accent-colour;
	margin-bottom: 15px;
}
footer {
	background: $head-colour url('#{$images-path}footer-bkg-texture.png') repeat-x bottom center; 
	padding: 0px;
	.large-2 {
		padding-top: 15px;
	}
	#footer-logo {
		padding: 2em 0 1em 0;
		img {
			padding-right: 20%;
		}
	}
	h2 {
		text-align: right;
		color: $main-colour;
		line-height: 1em;
		margin-bottom: 0em;
		span {
			color: $accent-colour;
		}
	}
	h3 {
		color: $accent-colour;
		margin-top: 0px;
		font-family: "Open Sans", "Helvetica", Helvetica, Arial, sans-serif;
		&:before {
			font-family: BAUHS93;
			font-size: 3em;
			content: '.';
			line-height: 1px;
			color: $accent-colour;
		}
	}
	ul {
		margin-left: 1.5em;
		li {
			line-height: 1em;
		}
	}
	a {
		color: $main-colour;
		&:hover {
			color: $accent-colour;
		}
	}
	#order-info {
		padding-top: 5.5em;
		padding-bottom: 1em;
		border-top: 15px solid $accent-colour;
	}
}


nav {
	padding:0;
	margin-bottom: 1em;
	.section-container {
		margin-bottom: 1em;
	}
	.inline-list:before {
		font-family: BAUHS93;
		font-size: 3em;
		content: '.';
		line-height: 1px;
		color: $accent-colour;
		float: right;
	}
	.inline-list>li {
		list-style: none;
		float: right;
		margin-left: 3.14286em;
		display: block;
		a {
			font-size: 1em;
			color: $accent-colour;
		}
	}
	@media only screen and (min-width: 48em) {
			.section-container.auto section .title, .section-container.auto .section .title {
			border: 0px solid #ccc;
			background-color: transparent;
			color: $main-colour;
		}
		.section-container.auto section.active .title, .section-container.auto .section.active .title, .section-container section .title, .section-container .section .title {
			background-color: transparent;
		}
		.section-container.auto section:last-child .title, .section-container.auto .section:last-child .title {
			border-right: 0px solid #ccc;
		}
		.section-container.auto section .content, .section-container.auto .section .content {
			border: 0px solid #ccc;
		}
		section p.title a:before {
			font-family: BAUHS93;
			font-size: 3em;
			content: '.';
			line-height: 1px;
			color: $accent-colour;
		}
	}
	.section-container section .title a, .section-container .section .title a, 
	.section-container.auto section .title a, .section-container.auto .section .title a {	
		color: $main-colour;
		font-size: 1.2em;
		padding: 0em 0em 5px 1.4em;
		&:hover {
			background-color: transparent;
		}
	}
	.section-container section .title:hover, .section-container .section .title:hover,
	.section-container.auto section .title:hover, .section-container.auto .section .title:hover {
		background-color: transparent;
	}
	.section-container section .content, .section-container .section .content, .section-container.auto section .content, 
	.section-container.auto .section .content {
		background-color: transparent;
		padding: 0;
	}
	.section-container section.active .title a, .section-container .section.active .title a {
		color: $accent-colour;
	}
	.section-container section .content, .section-container .section .content {
		background-color: transparent;
	}
	.section-container section .content, .section-container .section .content {
		padding: 0;
	}
	.section-container section .title:hover, .section-container .section .title:hover {
		background-color: transparent;
	}
	section a:hover {
		color: $accent-colour !important;
	}
	/*mob*/
	.section-container section .title, .section-container .section .title, .section-container.auto section .title, .section-container.auto .section .title {
		background-color: transparent;
	}
	.section-container section.active .title, .section-container .section.active .title, .section-container.auto section.active .title, .section-container.auto .section.active .title {
		background: transparent;
	}
}

#content {
	h2 {
		color: $accent-colour;
		
	}
	a { color: $accent-colour;
		}
	#brands-stocked {
		li {
			text-align: center;
			padding-top: 10px;
		}
	}
	#orbit-wrap {
		border: 10px solid #fff;
	}
	.orbit-container .orbit-next>span {
		margin-left: -5px;
	}
	.orbit-container .orbit-prev>span {
		margin-left: 3px;
	}
	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		@include border-radius(30px, 30px);
	}
	.orbit-container .orbit-prev, .orbit-container .orbit-next {
		width: 60px;
	}
	.orbit-container .orbit-prev {
		left: 15px;
	}
	.orbit-container .orbit-next {
		right: 15px;
	}
	.orbit-container .orbit-timer {
		position: absolute;
		top: 0px;
		left: 0px;
		height: 8px;
		width: 100%;
	}
	.orbit-container .orbit-timer.paused>span, .orbit-container .orbit-timer>span {
		top: 45px;
		right: 15px;
		height: 14px;
		width: 14px;
	}
	
	.orbit-bullets {
		margin: 0 auto 30px auto;
		overflow: hidden;
		position: absolute;
		top: 15px;
		right:30px;

	}
	.orbit-bullets li {
		width: 14px;
		height: 14px;
		background: #000;
		border: solid 0px #000;
		-webkit-border-radius: 0px;
		border-radius: 0px;
	}
	.orbit-bullets li.active {
		background: #fff;
	}
	.orbit-container .orbit-slide-number {
		font-size: 14px;
		color: #fff;
	}
	/* Pagination */
.pageList {
  display: block;
  height: 1.5em;
  margin-left: -0.3125em; }
  .pageList li {
    display: block;
    float: left;
    height: 1.5em;
    color: #222222;
    font-size: 0.875em;
    margin-left: 0.3125em; }
    .pageList li a {
      display: block;
      padding: 0.0625em 0.4375em 0.0625em;
      color: #999999; }
    .pageList li:hover a,
    .pageList li a:focus {
      background: #e6e6e6; }
    .pageList li.unavailable a {
      cursor: default;
      color: #999999; }
    .pageList li.unavailable:hover a, .pageList li.unavailable a:focus {
      background: transparent; }
    .pageList li a.active {
      background: $head-colour;
      color: white;
      font-weight: bold;
      cursor: default; }
      .pageList li a.active:hover, .pageList li a.active:focus {
        background: #2ba6cb; }

.paging {
  text-align: center; }
  .paging ul > li {
    float: none;
    display: inline-block; }
}
hr {border: 1px dashed #d6d4cf !important; margin: 0 $pad/2 !important;}

#sidebar {margin-top: $pad;}
form {
	padding: 0px $pad 0px $pad !important;
	h2 {
		padding-top: 0.5em;
		margin-bottom: 0em;
	}
	textarea {
		height: 100px;
	}
	textarea, input {
		border: 0px!important;
		 @include box-shadow(rgba(0,0,0,0.1) 0 1px 2px inset);
	}
	.huge-button {
		font-size: 18px;
		background: $head-colour;
		width:100%;
		color: $accent-colour;
		padding: 40px 0px;
		position: relative;
		bottom: -17px;
		right: -30px;
		border: 2px solid $head-colour !important;
		&:hover {
	      border: 2px solid $main-colour !important;
	      @include transition-property(border);
  		  @include transition-duration(800ms);
  		}
	}
}
form, .sidebar-box {background: $accent-colour;}
.sidebar-box {padding: 15px; margin: 0 0 30px 0; width: 100%;}

table#opening-hours  {
	background: $main-colour;
	border:0;
	tr {
		background: $main-colour;
		border:0;
		td {
			padding:0.1em 0.5em 0.1em 0.1em;
			background: $main-colour;
			border:0;
		}
	}
}
.cta-button {
		@include box-shadow(#211a14 3px 3px 0px 0px);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fde800), color-stop(1, #fde800));
		background: -moz-linear-gradient(center top, #fde800 5%, #fde800 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fde800', endColorstr='#fde800');
		background-color: #fde800;
		display: inline-block;
		color: #211a14;
		font-family: Trebuchet MS;
		font-size: 20px;
		font-weight: bold;
		padding: 10px 24px;
		text-decoration: none;
		text-shadow: 1px 1px 0px #ded17c;
		cursor:pointer;
		&:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fde800), color-stop(1, #fde800));
			background: -moz-linear-gradient(center top, #fde800 5%, #fde800 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fde800', endColorstr='#fde800');
			background-color: #fde800;
			color: $head-colour;
			cursor: pointer;
		}
		&:active {
			position: relative;
			@include box-shadow(#211a14 2px 2px 0px 0px);
			top: 1px;
		}
	}
#concretecloud img {width:250px;}

